header{

   text-align: center;
    
    background-color: var(--preto);
    color: var(--branco);

    padding: 1rem;

}

#h1-chamada{

    font-size: 3.5rem;
    margin: 1rem;

}

h2{

    font-size: 2rem;
    margin: 1rem;

}

.cabecalho-chamada{

    display: flex;
    flex-flow: column;
    align-items: center;

}

.cabecalho-chamada-textos{

    display: flex;
    flex-flow: column;
    align-items: center;

}

.cabecalho-botao{

    border: 3px solid var(--branco);
    border-radius: 5px;

    width: 10rem;
    height: 4rem;

    background-color: var(--branco);

    font-weight: 600;

    margin: 1rem;

}

.cabecalho-botao:hover{

    background-color: var(--preto);
    color: var(--branco);

    transition: background-color 2s;

}

@media screen and (max-width: 376px) {
    
    .cabecalho-nav{

        display: none;

    }

}